<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card-header>
    <mat-card-title class="title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="form.get('email')?.errors?.['required']"
          >Required field</mat-error
        >
        <mat-error *ngIf="form.get('email')?.errors?.['email']"
          >This is not a vaild email address</mat-error
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-icon matPrefix>password</mat-icon>
        <mat-error *ngIf="form.get('password')?.errors?.['required']"
          >Required field</mat-error
        >
      </mat-form-field>
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="send"
      mat-fab
      extended
      color="accent"
      [disabled]="form.invalid || loading"
      type="submit">
      Go!
      <mat-icon iconPositionEnd>send</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar
      [value]="loading ? 100 : 0"
      [mode]="loading ? 'indeterminate' : 'determinate'"></mat-progress-bar>
  </mat-card-footer>
</form>
