<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Share</h1>
  <div mat-dialog-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Peer email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
    </p>
    <p class="help">
      This task will be shared with the specified user if their email address
      matches
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="delete()">Close</button>
    <button mat-raised-button color="primary" type="submit">Send</button>
  </div>
</form>
